### 파일 불러오기

In [1]:
import pandas as pd

mons = pd.read_csv("/content/0915_역별월별비율_15_22.csv")
days = pd.read_csv("/content/0915_역별요일비율(결측치해결)_인천7빼고.csv")

In [2]:
# 엑셀 파일에서 모든 시트를 읽어서 딕셔너리 형태로 저장
excel_file = pd.ExcelFile('/content/2013년 혼잡도.xlsx')
sheet_names = excel_file.sheet_names  # 시트 이름 목록
sheet_names

/usr/local/lib/python3.10/dist-packages/openpyxl/reader/workbook.py:118: UserWarning: Print area cannot be set to Defined name: '일요일 상선'!$1:$126.
  warn(f"Print area cannot be set to Defined name: {defn.value}.")
/usr/local/lib/python3.10/dist-packages/openpyxl/reader/workbook.py:118: UserWarning: Print area cannot be set to Defined name: '일요일 하선'!$1:$126.
  warn(f"Print area cannot be set to Defined name: {defn.value}.")
/usr/local/lib/python3.10/dist-packages/openpyxl/reader/workbook.py:118: UserWarning: Print area cannot be set to Defined name: '토요일 상선'!$1:$126.
  warn(f"Print area cannot be set to Defined name: {defn.value}.")
/usr/local/lib/python3.10/dist-packages/openpyxl/reader/workbook.py:118: UserWarning: Print area cannot be set to Defined name: '토요일 하선'!$1:$126.
  warn(f"Print area cannot be set to Defined name: {defn.value}.")
/usr/local/lib/python3.10/dist-packages/openpyxl/reader/workbook.py:118: UserWarning: Print area cannot be set to Defined name: '평일 상선'!$1:$126.
  warn(f"Print area cannot be set to Defined name: {defn.value}.")
/usr/local/lib/python3.10/dist-packages/openpyxl/reader/workbook.py:118: UserWarning: Print area cannot be set to Defined name: '평일 하선'!$1:$126.
  warn(f"Print area cannot be set to Defined name: {defn.value}.")

['평일 상선', '평일 하선', '토요일 상선', '토요일 하선', '일요일 상선', '일요일 하선']

### 엑셀파일 읽기 및 데이터프레임으로 만들기

In [3]:
# 모든 시트의 데이터를 저장할 빈 리스트를 생성
all_dfs = []

for sheet_name in sheet_names:
    # 필요한 행부터 읽기 시작
    df = pd.read_excel(excel_file, sheet_name=sheet_name, header=2)

    # 불필요한 열 삭제
    df.dropna(axis=1, how='all', inplace=True)

    # 요일구분 컬럼 추가
    day_of_week = sheet_name.split()[-2]  # 시트 이름에서 요일 정보 추출
    df['요일구분'] = day_of_week

    # 상하구분 컬럼 추가 (상선 또는 하선)
    direction = '상선' if '상선' in sheet_name else '하선'
    df['상하구분'] = direction

    # 데이터프레임을 리스트에 추가
    all_dfs.append(df)

In [4]:
all_dfs

[      호선     역명  방향  5시대  6시대  7시대  8시대  9시대  10시대  11시대  ...  17시대  18시대  \
 0    1호선    서울역  상선   10   20   43   72   54    35    42  ...    33    54
 1    NaN     시청  상선   10   20   40   66   55    39    47  ...    41    72
 2    NaN     종각  상선   10   17   29   50   46    35    44  ...    45    79
 3    NaN   종로3가  상선   10   17   31   57   50    42    47  ...    54    96
 4    NaN   종로5가  상선   10   16   26   45   42    37    43  ...    57    97
 ..   ...    ...  ..  ...  ...  ...  ...  ...   ...   ...  ...   ...   ...
 118  NaN     이촌  상선   16   21   44   72   42    35    37  ...    40    44
 119  NaN     동작  상선   17   23   47   69   45    31    40  ...    42    44
 120  NaN  총신대입구  상선   18   26   51   75   42    32    40  ...    40    45
 121  NaN     사당  상선   19   24   51   70   42    32    38  ...    42    46
 122  NaN    남태령  상선   24   37  107  138   89    60    65  ...    71    95

      19시대  20시대  21시대  22시대  23시대  24시대  요일구분  상하구분
 0      42    25    29    26    15     4    평일    상선
 1      58    34    40    37    21     7    평일    상선
 2      63    40    53    51    27     6    평일    상선
 3      78    49    63    61    34     8    평일    상선
 4      82    52    64    65    35     8    평일    상선
 ..    ...   ...   ...   ...   ...   ...   ...   ...
 118    35    22    22    26    18     8    평일    상선
 119    35    21    24    25    19     9    평일    상선
 120    33    21    22    25    19     8    평일    상선
 121    35    23    22    26    21    14    평일    상선
 122    73    34    34    39    27    10    평일    상선

 [123 rows x 25 columns],
       호선     역명  방향  5시대  6시대  7시대  8시대  9시대  10시대  11시대  ...  17시대  18시대  \
 0    1호선    서울역  하선   10   16   30   37   22    23    23  ...    52    82
 1    NaN     시청  하선   13   18   35   46   27    26    27  ...    56    82
 2    NaN     종각  하선   16   24   55   74   41    36    36  ...    66    87
 3    NaN   종로3가  하선   18   27   63   93   51    41    38  ...    64    79
 4    NaN   종로5가  하선   22   31   74  110   57    48    44  ...    67    81
 ..   ...    ...  ..  ...  ...  ...  ...  ...   ...   ...  ...   ...   ...
 118  NaN     이촌  하선   43   16   26   35   23    25    25  ...    44    61
 119  NaN     동작  하선    0   20   26   37   24    26    27  ...    46    65
 120  NaN  총신대입구  하선    0   23   28   40   25    28    28  ...    44    59
 121  NaN     사당  하선   22   21   26   33   22    26    23  ...    39    56
 122  NaN    남태령  하선   22   33   48   67   43    48    43  ...    78   105

      19시대  20시대  21시대  22시대  23시대  24시대  요일구분  상하구분
 0      51    36    40    46    29     5    평일    하선
 1      52    37    43    47    29     2    평일    하선
 2      54    38    44    50    34     3    평일    하선
 3      48    31    33    35    24     3    평일    하선
 4      44    31    32    34    24     2    평일    하선
 ..    ...   ...   ...   ...   ...   ...   ...   ...
 118    47    38    38    48    42     9    평일    하선
 119    52    40    42    49    44     9    평일    하선
 120    50    38    40    47    41     8    평일    하선
 121    45    38    36    44    42     7    평일    하선
 122    89    66    67    80    70    20    평일    하선

 [123 rows x 25 columns],
       호선     역명  방향  5시대  6시대  7시대  8시대  9시대  10시대  11시대  ...  17시대  18시대  \
 0    1호선    서울역  상선   10   21   22   39   41    40    49  ...    47    41
 1    NaN     시청  상선   10   23   24   39   44    41    53  ...    56    50
 2    NaN     종각  상선   10   21   22   37   40    38    48  ...    55    51
 3    NaN   종로3가  상선   10   23   25   40   42    40    53  ...    67    58
 4    NaN   종로5가  상선    9   21   23   35   39    35    46  ...    66    59
 ..   ...    ...  ..  ...  ...  ...  ...  ...   ...   ...  ...   ...   ...
 118  NaN     이촌  상선   11   17   19   36   50    42    47  ...    47    47
 119  NaN     동작  상선   11   18   20   38   52    45    45  ...    47    46
 120  NaN  총신대입구  상선   21   16   22   41   52    45    46  ...    46    46
 121  NaN     사당  상선   18   15   21   38   52    45    45  ...    47    53
 122  NaN    남태령  상선   20   29   43   59   95    92    90  ...   109   124

      19시대  20시대  21시대  22시대  23시대  24시대  요일구분  상하구분
 0      29    23    26    25    15   6.0   토요일    상선
 1      37    31    34    33    21  19.0   토요일    상선
 2      40    37    43    45    29  12.0   토요일    상선
 3      46    43    48    51    32  13.0   토요일    상선
 4      47    43    49    54    32  13.0   토요일    상선
 ..    ...   ...   ...   ...   ...   ...   ...   ...
 118    26    24    24    27    36   NaN   토요일    상선
 119    25    23    24    26    36   NaN   토요일    상선
 120    24    24    23    27    36   NaN   토요일    상선
 121    25    24    25    31    38   NaN   토요일    상선
 122    52    42    37    40    52   NaN   토요일    상선

 [123 rows x 25 columns],
       호선     역명  방향  5시대  6시대  7시대  8시대  9시대  10시대  11시대  ...  17시대  18시대  \
 0    1호선    서울역  하선   14   15   15   22   27    30    33  ...    54    49
 1    NaN     시청  하선   21   20   18   27   33    34    36  ...    63    51
 2    NaN     종각  하선   29   24   22   35   42    45    48  ...    76    59
 3    NaN   종로3가  하선   29   26   23   38   47    49    51  ...    75    60
 4    NaN   종로5가  하선   29   29   27   50   55    56    58  ...    75    60
 ..   ...    ...  ..  ...  ...  ...  ...  ...   ...   ...  ...   ...   ...
 118  NaN     이촌  하선   41   15   15   23   31    29    30  ...    58    50
 119  NaN     동작  하선    0   19   16   23   33    31    32  ...    60    52
 120  NaN  총신대입구  하선    0   21   17   25   35    34    34  ...    57    51
 121  NaN     사당  하선   22   17   15   28   34    39    32  ...    51    46
 122  NaN    남태령  하선   22   34   30   44   57    78    59  ...   102    99

      19시대  20시대  21시대  22시대  23시대  24시대  요일구분  상하구분
 0      39    30    36    35    23     5   토요일    하선
 1      45    34    41    36    25     6   토요일    하선
 2      48    36    44    40    31     6   토요일    하선
 3      41    29    32    29    22     6   토요일    하선
 4      38    29    30    27    18     0   토요일    하선
 ..    ...   ...   ...   ...   ...   ...   ...   ...
 118    39    35    42    46    39     0   토요일    하선
 119    43    38    41    48    40     0   토요일    하선
 120    42    36    39    46    38     0   토요일    하선
 121    41    36    40    45    37     9   토요일    하선
 122    82    71    63    80    45    24   토요일    하선

 [123 rows x 25 columns],
       호선     역명  방향  5시대  6시대  7시대  8시대  9시대  10시대  11시대  ...  17시대  18시대  \
 0    1호선    서울역  상선    6   13   13   25   29    33    41  ...    35    29
 1    NaN     시청  상선    6   15   14   25   32    35    44  ...    43    36
 2    NaN     종각  상선    7   14   14   24   29    32    40  ...    45    40
 3    NaN   종로3가  상선    6   15   16   26   31    34    42  ...    52    46
 4    NaN   종로5가  상선    6   14   15   24   30    33    40  ...    51    46
 ..   ...    ...  ..  ...  ...  ...  ...  ...   ...   ...  ...   ...   ...
 118  NaN     이촌  상선    7   10   11   20   35    33    37  ...    36    37
 119  NaN     동작  상선    7   10   12   22   38    35    35  ...    36    38
 120  NaN  총신대입구  상선   12    9   12   23   38    35    35  ...    36    39
 121  NaN     사당  상선   11    9   12   22   37    34    35  ...    40    49
 122  NaN    남태령  상선   12   20   25   34   67    68    65  ...    99   127

      19시대  20시대  21시대  22시대  23시대  24시대  요일구분  상하구분
 0      25    21    23    21    12     4   일요일    상선
 1      28    27    29    26    15    11   일요일    상선
 2      33    35    36    34    19     8   일요일    상선
 3      39    40    40    39    21     8   일요일    상선
 4      40    39    42    41    22     8   일요일    상선
 ..    ...   ...   ...   ...   ...   ...   ...   ...
 118    22    22    21    21    25     0   일요일    상선
 119    21    21    21    20    25     0   일요일    상선
 120    21    22    21    21    23     0   일요일    상선
 121    23    23    21    24    23     0   일요일    상선
 122    49    42    34    32    19     0   일요일    상선

 [123 rows x 25 columns],
       호선     역명  방향  5시대  6시대  7시대  8시대  9시대  10시대  11시대  ...  17시대  18시대  \
 0    1호선    서울역  하선    9   10    8   13   21    22    24  ...    47    43
 1    NaN     시청  하선   13   12   10   15   24    25    27  ...    57    45
 2    NaN     종각  하선   18   14   12   20   30    34    36  ...    66    50
 3    NaN   종로3가  하선   16   15   13   22   33    36    39  ...    62    47
 4    NaN   종로5가  하선   15   16   15   29   38    41    44  ...    63    48
 ..   ...    ...  ..  ...  ...  ...  ...  ...   ...   ...  ...   ...   ...
 118  NaN     이촌  하선   30   11    8   14   24    26    22  ...    43    40
 119  NaN     동작  하선    0   13    9   14   25    28    24  ...    45    41
 120  NaN  총신대입구  하선    0   15   10   16   28    32    27  ...    41    39
 121  NaN     사당  하선   12   11    9   19   32    44    30  ...    35    34
 122  NaN    남태령  하선   12   22   17   31   52    89    55  ...    71    73

      19시대  20시대  21시대  22시대  23시대  24시대  요일구분  상하구분
 0      37    28    29    25    15     3   일요일    하선
 1      42    31    32    24    15     3   일요일    하선
 2      46    33    35    26    17     4   일요일    하선
 3      36    25    25    20    14     4   일요일    하선
 4      34    25    24    20    12     0   일요일    하선
 ..    ...   ...   ...   ...   ...   ...   ...   ...
 118    35    32    36    34    25     0   일요일    하선
 119    37    35    36    35    27     0   일요일    하선
 120    34    33    34    33    25     0   일요일    하선
 121    32    30    33    30    22     7   일요일    하선
 122    64    59    51    54    28    14   일요일    하선

 [123 rows x 25 columns]]

In [5]:
# 리스트에 있는 모든 데이터프레임을 합치기
df_13 = pd.concat(all_dfs, ignore_index=True)

In [6]:
df_13

,호선,역명,방향,5시대,6시대,7시대,8시대,9시대,10시대,11시대,...,17시대,18시대,19시대,20시대,21시대,22시대,23시대,24시대,요일구분,상하구분
0,1호선,서울역,상선,10,20,43,72,54,35,42,...,33,54,42,25,29,26,15,4.0,평일,상선
1,NaN,시청,상선,10,20,40,66,55,39,47,...,41,72,58,34,40,37,21,7.0,평일,상선
2,NaN,종각,상선,10,17,29,50,46,35,44,...,45,79,63,40,53,51,27,6.0,평일,상선
3,NaN,종로3가,상선,10,17,31,57,50,42,47,...,54,96,78,49,63,61,34,8.0,평일,상선
4,NaN,종로5가,상선,10,16,26,45,42,37,43,...,57,97,82,52,64,65,35,8.0,평일,상선
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
733,NaN,이촌,하선,30,11,8,14,24,26,22,...,43,40,35,32,36,34,25,0.0,일요일,하선
734,NaN,동작,하선,0,13,9,14,25,28,24,...,45,41,37,35,36,35,27,0.0,일요일,하선
735,NaN,총신대입구,하선,0,15,10,16,28,32,27,...,41,39,34,33,34,33,25,0.0,일요일,하선
736,NaN,사당,하선,12,11,9,19,32,44,30,...,35,34,32,30,33,30,22,7.0,일요일,하선
737,NaN,남태령,하선,12,22,17,31,52,89,55,...,71,73,64,59,51,54,28,14.0,일요일,하선

### 데이터프레임 수정
- 시간대 컬럼 이름 및 순서 변경

In [7]:
# 시간대 컬럼 이름 변경
new_columns = {
    '5시대': '05시~06시', '6시대': '06시~07시', '7시대': '07시~08시', '8시대': '08시~09시', '9시대': '09시~10시',
    '10시대': '10시~11시', '11시대': '11시~12시', '12시대': '12시~13시', '13시대': '13시~14시', '14시대': '14시~15시',
    '15시대': '15시~16시', '16시대': '16시~17시', '17시대': '17시~18시', '18시대': '18시~19시', '19시대': '19시~20시',
    '20시대': '20시~21시', '21시대': '21시~22시', '22시대': '22시~23시', '23시대': '23시~24시', '24시대': '24시~01시'
}

df_13.rename(columns=new_columns, inplace=True)

In [8]:
# 컬럼 순서 변경
new_column_order = ['요일구분', '호선', '역명', '상하구분', '05시~06시', '06시~07시', '07시~08시', '08시~09시', '09시~10시', '10시~11시', '11시~12시',
                    '12시~13시', '13시~14시', '14시~15시', '15시~16시', '16시~17시', '17시~18시', '18시~19시', '19시~20시', '20시~21시',
                    '21시~22시', '22시~23시', '23시~24시', '24시~01시']

In [9]:
df_13 = df_13[new_column_order]

In [10]:
df_13.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 738 entries, 0 to 737
Data columns (total 24 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   요일구분     738 non-null    object
 1   호선       24 non-null     object
 2   역명       738 non-null    object
 3   상하구분     738 non-null    object
 4   05시~06시  738 non-null    int64
 5   06시~07시  738 non-null    int64
 6   07시~08시  738 non-null    int64
 7   08시~09시  738 non-null    int64
 8   09시~10시  738 non-null    int64
 9   10시~11시  738 non-null    int64
 10  11시~12시  738 non-null    int64
 11  12시~13시  738 non-null    int64
 12  13시~14시  738 non-null    int64
 13  14시~15시  738 non-null    int64
 14  15시~16시  738 non-null    int64
 15  16시~17시  738 non-null    int64
 16  17시~18시  738 non-null    int64
 17  18시~19시  738 non-null    int64
 18  19시~20시  738 non-null    int64
 19  20시~21시  738 non-null    int64
 20  21시~22시  738 non-null    int64
 21  22시~23시  738 non-null    int64
 22  23시~24시  738 non-null    int64
 23  24시~01시  625 non-null    float64
dtypes: float64(1), int64(19), object(4)
memory usage: 138.5+ KB

### 결측값 처리 (호선명 채우기)
- 엑셀에서 읽어와서 공통된 셀에 포함된 경우 데이터프레임 처리할 때 특정 열의 값이 빈 채로 출력됨.
- 호선값이 비어있을 경우 직전 행의 호선 값을 복사해서 결측 처리

In [11]:
# 비어있는 호선 값 채우기
for index, row in df_13.iterrows():
    if pd.isnull(row['호선']):  # 호선 값이 NULL인 경우
        df_13.at[index, '호선'] = df_13.at[index - 1, '호선']  # 직전 행의 호선 값 복사

In [12]:
df_13.head()

,요일구분,호선,역명,상하구분,05시~06시,06시~07시,07시~08시,08시~09시,09시~10시,10시~11시,...,15시~16시,16시~17시,17시~18시,18시~19시,19시~20시,20시~21시,21시~22시,22시~23시,23시~24시,24시~01시
0,평일,1호선,서울역,상선,10,20,43,72,54,35,...,33,34,33,54,42,25,29,26,15,4.0
1,평일,1호선,시청,상선,10,20,40,66,55,39,...,40,43,41,72,58,34,40,37,21,7.0
2,평일,1호선,종각,상선,10,17,29,50,46,35,...,44,45,45,79,63,40,53,51,27,6.0
3,평일,1호선,종로3가,상선,10,17,31,57,50,42,...,55,54,54,96,78,49,63,61,34,8.0
4,평일,1호선,종로5가,상선,10,16,26,45,42,37,...,53,53,57,97,82,52,64,65,35,8.0

### df_13 데이터 형식 수정

In [13]:
# 호선 문자열 수정
df_13['호선'] = df_13['호선'].str.extract('(\d+)').astype(int)

# 시간대 실수형으로 형식 바꾸기
time_columns = ['05시~06시', '06시~07시', '07시~08시', '08시~09시', '09시~10시',
                '10시~11시', '11시~12시', '12시~13시', '13시~14시', '14시~15시',
                '15시~16시', '16시~17시', '17시~18시', '18시~19시', '19시~20시',
                '20시~21시', '21시~22시', '22시~23시', '23시~24시', '24시~01시']

for col in time_columns:
    df_13[col] = df_13[col].astype('float64')

<ipython-input-13-5430ead4447a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_13['호선'] = df_13['호선'].str.extract('(\d+)').astype(int)
<ipython-input-13-5430ead4447a>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_13[col] = df_13[col].astype('float64')

### df_13 역 이름 수정  
- 다른 연도의 지하철 역 이름과 통일

In [14]:
# 을지입구, 을지3가, 을지4가 -> 을지로입구, 을지로3가, 을지로4가 변경
df_13['역명'] = df_13['역명'].replace('을지입구', '을지로입구')
df_13['역명'] = df_13['역명'].replace('을지3가', '을지로3가')
df_13['역명'] = df_13['역명'].replace('을지4가', '을지로4가')

# 성내 -> 잠실나루 변경
df_13['역명'] = df_13['역명'].replace('성내', '잠실나루')

# 이대입구 -> 이대 변경
df_13['역명'] = df_13['역명'].replace('이대입구', '이대')

# 성신여대 -> 성신여대입구 변경
df_13['역명'] = df_13['역명'].replace('성신여대', '성신여대입구')

# 신천 -> 잠실새내 변경
df_13['역명'] = df_13['역명'].replace('신천', '잠실새내')

<ipython-input-14-1ff3197f82ea>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_13['역명'] = df_13['역명'].replace('을지입구', '을지로입구')
<ipython-input-14-1ff3197f82ea>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_13['역명'] = df_13['역명'].replace('을지3가', '을지로3가')
<ipython-input-14-1ff3197f82ea>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_13['역명'] = df_13['역명'].replace('을지4가', '을지로4가')
<ipython-input-14-1ff3197f82ea>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_13['역명'] = df_13['역명'].replace('성내', '잠실나루')
<ipython-input-14-1ff3197f82ea>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_13['역명'] = df_13['역명'].replace('이대입구', '이대')
<ipython-input-14-1ff3197f82ea>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_13['역명'] = df_13['역명'].replace('성신여대', '성신여대입구')
<ipython-input-14-1ff3197f82ea>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_13['역명'] = df_13['역명'].replace('신천', '잠실새내')

- 역이름 뒤에 () 들어간 내용 삭제

In [15]:
# 역 이름 뒤 괄호와 괄호 안 내용 삭제
df_13['역명'] = df_13['역명'].str.replace(r'\(.*\)', '', regex=True)

<ipython-input-15-48855dcfef7a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_13['역명'] = df_13['역명'].str.replace(r'\(.*\)', '', regex=True)

- 역 이름 수정 확인

In [16]:
test = df_13[(df_13['역명'] == '을지로입구') | (df_13['역명'] == '을지로3가') | (df_13['역명'] == '을지로4가') | (df_13['역명'] == '잠실나루') | (df_13['역명'] == '이대') | (df_13['역명'] == '성신여대입구') | (df_13['역명'] == '잠실새내')]
test

,요일구분,호선,역명,상하구분,05시~06시,06시~07시,07시~08시,08시~09시,09시~10시,10시~11시,...,15시~16시,16시~17시,17시~18시,18시~19시,19시~20시,20시~21시,21시~22시,22시~23시,23시~24시,24시~01시
11,평일,2,을지로입구,상선,16.0,18.0,32.0,53.0,33.0,35.0,...,42.0,37.0,42.0,58.0,41.0,32.0,45.0,48.0,34.0,7.0
12,평일,2,을지로3가,상선,12.0,12.0,20.0,31.0,19.0,21.0,...,28.0,26.0,28.0,42.0,30.0,22.0,33.0,35.0,24.0,5.0
13,평일,2,을지로4가,상선,10.0,9.0,15.0,22.0,13.0,17.0,...,24.0,23.0,25.0,37.0,27.0,18.0,28.0,28.0,19.0,7.0
24,평일,2,잠실나루,상선,23.0,22.0,43.0,83.0,51.0,33.0,...,41.0,38.0,35.0,47.0,36.0,27.0,31.0,32.0,27.0,14.0
26,평일,2,잠실새내,상선,33.0,29.0,65.0,132.0,74.0,44.0,...,45.0,43.0,41.0,50.0,36.0,29.0,31.0,31.0,24.0,7.0
50,평일,2,이대,상선,28.0,27.0,70.0,111.0,57.0,51.0,...,46.0,39.0,40.0,46.0,33.0,26.0,36.0,43.0,33.0,7.0
74,평일,3,을지로3가,상선,10.0,14.0,35.0,49.0,39.0,35.0,...,51.0,54.0,67.0,93.0,81.0,54.0,55.0,57.0,36.0,10.0
106,평일,4,성신여대입구,상선,18.0,13.0,14.0,22.0,17.0,16.0,...,46.0,59.0,78.0,100.0,97.0,62.0,69.0,69.0,58.0,24.0
134,평일,2,을지로입구,하선,9.0,14.0,27.0,35.0,21.0,19.0,...,40.0,48.0,37.0,70.0,51.0,42.0,49.0,47.0,29.0,9.0
135,평일,2,을지로3가,하선,13.0,17.0,41.0,55.0,30.0,24.0,...,37.0,44.0,33.0,56.0,39.0,28.0,33.0,32.0,21.0,9.0
136,평일,2,을지로4가,하선,11.0,14.0,33.0,44.0,24.0,18.0,...,25.0,30.0,22.0,34.0,24.0,17.0,20.0,19.0,13.0,7.0
147,평일,2,잠실나루,하선,24.0,20.0,39.0,45.0,26.0,25.0,...,43.0,49.0,51.0,66.0,55.0,38.0,47.0,51.0,32.0,7.0
149,평일,2,잠실새내,하선,17.0,24.0,34.0,39.0,27.0,25.0,...,50.0,57.0,58.0,86.0,70.0,49.0,64.0,72.0,46.0,11.0
173,평일,2,이대,하선,18.0,18.0,33.0,40.0,23.0,21.0,...,57.0,70.0,59.0,105.0,75.0,56.0,71.0,69.0,42.0,16.0
197,평일,3,을지로3가,하선,32.0,37.0,74.0,108.0,71.0,64.0,...,67.0,76.0,62.0,104.0,75.0,49.0,48.0,58.0,38.0,7.0
229,평일,4,성신여대입구,하선,60.0,42.0,105.0,144.0,81.0,61.0,...,41.0,44.0,34.0,37.0,25.0,22.0,20.0,23.0,20.0,1.0
257,토요일,2,을지로입구,상선,22.0,16.0,16.0,25.0,24.0,28.0,...,38.0,42.0,40.0,38.0,31.0,36.0,38.0,48.0,42.0,NaN
258,토요일,2,을지로3가,상선,16.0,12.0,11.0,16.0,14.0,17.0,...,24.0,28.0,27.0,25.0,22.0,25.0,27.0,34.0,30.0,NaN
259,토요일,2,을지로4가,상선,14.0,9.0,7.0,11.0,10.0,12.0,...,20.0,24.0,23.0,22.0,19.0,20.0,22.0,27.0,24.0,NaN
270,토요일,2,잠실나루,상선,20.0,17.0,19.0,29.0,37.0,36.0,...,42.0,40.0,39.0,37.0,26.0,28.0,30.0,33.0,48.0,NaN
272,토요일,2,잠실새내,상선,25.0,19.0,24.0,37.0,47.0,47.0,...,50.0,48.0,47.0,44.0,31.0,35.0,37.0,38.0,40.0,NaN
296,토요일,2,이대,상선,37.0,23.0,25.0,38.0,40.0,46.0,...,46.0,50.0,47.0,42.0,32.0,32.0,36.0,50.0,47.0,NaN
320,토요일,3,을지로3가,상선,12.0,13.0,17.0,33.0,51.0,44.0,...,60.0,65.0,67.0,73.0,50.0,45.0,47.0,50.0,32.0,NaN
352,토요일,4,성신여대입구,상선,21.0,15.0,11.0,21.0,25.0,28.0,...,48.0,58.0,63.0,71.0,54.0,54.0,62.0,67.0,75.0,NaN
380,토요일,2,을지로입구,하선,9.0,10.0,10.0,14.0,21.0,26.0,...,40.0,38.0,43.0,44.0,37.0,44.0,40.0,42.0,44.0,0.0
381,토요일,2,을지로3가,하선,12.0,11.0,12.0,18.0,27.0,31.0,...,40.0,36.0,40.0,38.0,30.0,30.0,27.0,30.0,30.0,0.0
382,토요일,2,을지로4가,하선,11.0,9.0,10.0,15.0,21.0,23.0,...,28.0,23.0,26.0,25.0,19.0,19.0,17.0,20.0,22.0,0.0
393,토요일,2,잠실나루,하선,20.0,17.0,17.0,30.0,26.0,29.0,...,50.0,49.0,43.0,44.0,38.0,39.0,49.0,42.0,35.0,0.0
395,토요일,2,잠실새내,하선,21.0,25.0,19.0,28.0,28.0,31.0,...,60.0,58.0,50.0,47.0,44.0,40.0,54.0,54.0,50.0,0.0
419,토요일,2,이대,하선,17.0,14.0,14.0,18.0,26.0,34.0,...,58.0,55.0,65.0,62.0,54.0,62.0,58.0,60.0,59.0,0.0
443,토요일,3,을지로3가,하선,31.0,27.0,33.0,67.0,65.0,64.0,...,79.0,84.0,87.0,79.0,54.0,45.0,43.0,47.0,33.0,0.0
475,토요일,4,성신여대입구,하선,54.0,33.0,49.0,80.0,82.0,62.0,...,58.0,50.0,50.0,40.0,26.0,24.0,24.0,26.0,20.0,0.0
503,일요일,2,을지로입구,상선,20.0,12.0,9.0,13.0,16.0,23.0,...,29.0,30.0,30.0,29.0,25.0,32.0,32.0,34.0,26.0,0.0
504,일요일,2,을지로3가,상선,14.0,8.0,6.0,7.0,9.0,13.0,...,18.0,21.0,20.0,20.0,18.0,23.0,22.0,25.0,19.0,0.0
505,일요일,2,을지로4가,상선,12.0,6.0,4.0,6.0,7.0,9.0,...,15.0,17.0,17.0,17.0,15.0,19.0,18.0,20.0,15.0,0.0
516,일요일,2,잠실나루,상선,13.0,13.0,12.0,16.0,27.0,28.0,...,29.0,29.0,27.0,25.0,22.0,25.0,27.0,27.0,33.0,0.0
518,일요일,2,잠실새내,상선,18.0,16.0,17.0,20.0,36.0,38.0,...,35.0,34.0,31.0,28.0,22.0,27.0,30.0,26.0,27.0,0.0
542,일요일,2,이대,상선,28.0,15.0,14.0,22.0,29.0,39.0,...,37.0,35.0,32.0,30.0,26.0,28.0,29.0,35.0,25.0,0.0
566,일요일,3,을지로3가,상선,9.0,9.0,12.0,23.0,42.0,40.0,...,48.0,47.0,43.0,46.0,36.0,34.0,35.0,35.0,24.0,0.0
598,일요일,4,성신여대입구,상선,13.0,12.0,8.0,15.0,24.0,25.0,...,33.0,43.0,44.0,51.0,40.0,43.0,49.0,49.0,52.0,0.0
626,일요일,2,을지로입구,하선,5.0,6.0,5.0,8.0,14.0,20.0,...,31.0,30.0,31.0,32.0,28.0,35.0,31.0,28.0,28.0,0.0
627,일요일,2,을지로3가,하선,6.0,7.0,6.0,11.0,19.0,25.0,...,31.0,28.0,28.0,25.0,21.0,22.0,19.0,19.0,19.0,0.0
628,일요일,2,을지로4가,하선,5.0,5.0,5.0,8.0,15.0,18.0,...,22.0,17.0,18.0,15.0,13.0,14.0,12.0,12.0,13.0,0.0
639,일요일,2,잠실나루,하선,14.0,12.0,10.0,18.0,17.0,22.0,...,39.0,37.0,29.0,30.0,28.0,28.0,34.0,28.0,22.0,0.0
641,일요일,2,잠실새내,하선,15.0,15.0,12.0,19.0,21.0,25.0,...,42.0,37.0,31.0,32.0,33.0,30.0,40.0,36.0,31.0,0.0
665,일요일,2,이대,하선,10.0,9.0,8.0,10.0,18.0,26.0,...,44.0,44.0,50.0,46.0,40.0,47.0,45.0,39.0,35.0,0.0
689,일요일,3,을지로3가,하선,21.0,18.0,18.0,33.0,43.0,45.0,...,61.0,67.0,68.0,64.0,47.0,41.0,35.0,35.0,19.0,0.0
721,일요일,4,성신여대입구,하선,32.0,20.0,22.0,36.0,52.0,45.0,...,50.0,40.0,39.0,32.0,28.0,23.0,21.0,20.0,14.0,0.0

### df_13 [24사~01시] 결측값 처리
- 24시~01시 열의 결측값은 모두 토요일
- 주말(토요일, 일요일)에는 24시~01시에 운행을 안하기 때문 -> 해당 값은 모두 0으로 치환

In [17]:
df_13.isna().sum()

요일구분         0
호선           0
역명           0
상하구분         0
05시~06시      0
06시~07시      0
07시~08시      0
08시~09시      0
09시~10시      0
10시~11시      0
11시~12시      0
12시~13시      0
13시~14시      0
14시~15시      0
15시~16시      0
16시~17시      0
17시~18시      0
18시~19시      0
19시~20시      0
20시~21시      0
21시~22시      0
22시~23시      0
23시~24시      0
24시~01시    113
dtype: int64

In [18]:
null_df = df_13[df_13['24시~01시'].isnull()]
null_df.head()

,요일구분,호선,역명,상하구분,05시~06시,06시~07시,07시~08시,08시~09시,09시~10시,10시~11시,...,15시~16시,16시~17시,17시~18시,18시~19시,19시~20시,20시~21시,21시~22시,22시~23시,23시~24시,24시~01시
256,토요일,2,시청,상선,27.0,18.0,19.0,30.0,32.0,36.0,...,39.0,42.0,40.0,36.0,27.0,27.0,30.0,41.0,36.0,NaN
257,토요일,2,을지로입구,상선,22.0,16.0,16.0,25.0,24.0,28.0,...,38.0,42.0,40.0,38.0,31.0,36.0,38.0,48.0,42.0,NaN
258,토요일,2,을지로3가,상선,16.0,12.0,11.0,16.0,14.0,17.0,...,24.0,28.0,27.0,25.0,22.0,25.0,27.0,34.0,30.0,NaN
259,토요일,2,을지로4가,상선,14.0,9.0,7.0,11.0,10.0,12.0,...,20.0,24.0,23.0,22.0,19.0,20.0,22.0,27.0,24.0,NaN
260,토요일,2,동대문역사문화공원,상선,27.0,20.0,18.0,28.0,27.0,27.0,...,41.0,44.0,46.0,41.0,32.0,35.0,37.0,45.0,39.0,NaN

In [19]:
null_df.요일구분.value_counts()

토요일    113
Name: 요일구분, dtype: int64

In [20]:
df_13['24시~01시'].fillna(0, inplace=True)

<ipython-input-20-38fd60e5f3db>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_13['24시~01시'].fillna(0, inplace=True)

In [21]:
df_13.isna().sum()

요일구분       0
호선         0
역명         0
상하구분       0
05시~06시    0
06시~07시    0
07시~08시    0
08시~09시    0
09시~10시    0
10시~11시    0
11시~12시    0
12시~13시    0
13시~14시    0
14시~15시    0
15시~16시    0
16시~17시    0
17시~18시    0
18시~19시    0
19시~20시    0
20시~21시    0
21시~22시    0
22시~23시    0
23시~24시    0
24시~01시    0
dtype: int64

### 혼잡도 구하기

In [22]:
melt_13 = pd.melt(df_13, id_vars=['요일구분', '호선', '역명', '상하구분'], var_name='시간대', value_name='값')
melt_13

      요일구분  호선     역명 상하구분      시간대     값
0       평일   1    서울역   상선  05시~06시  10.0
1       평일   1     시청   상선  05시~06시  10.0
2       평일   1     종각   상선  05시~06시  10.0
3       평일   1   종로3가   상선  05시~06시  10.0
4       평일   1   종로5가   상선  05시~06시  10.0
...    ...  ..    ...  ...      ...   ...
14755  일요일   4     이촌   하선  24시~01시   0.0
14756  일요일   4     동작   하선  24시~01시   0.0
14757  일요일   4  총신대입구   하선  24시~01시   0.0
14758  일요일   4     사당   하선  24시~01시   7.0
14759  일요일   4    남태령   하선  24시~01시  14.0

[14760 rows x 6 columns]

In [23]:
melt_13.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14760 entries, 0 to 14759
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   요일구분    14760 non-null  object
 1   호선      14760 non-null  int64
 2   역명      14760 non-null  object
 3   상하구분    14760 non-null  object
 4   시간대     14760 non-null  object
 5   값       14760 non-null  float64
dtypes: float64(1), int64(1), object(4)
memory usage: 692.0+ KB

- 월별비율 불러오기

In [24]:
mons.rename(columns={'호선명': '호선', '지하철역': '역명'}, inplace=True)

- 월별비율 1~4호선만 필터링

In [25]:
mons = mons[(mons['호선'] == '1호선') | (mons['호선'] == '2호선') | (mons['호선'] == '3호선') | (mons['호선'] == '4호선')]

In [26]:
mons.호선.value_counts

<bound method IndexOpsMixin.value_counts of 0       1호선
1       1호선
2       1호선
3       1호선
4       1호선
       ...
1458    4호선
1459    4호선
1460    4호선
1461    4호선
1462    4호선
Name: 호선, Length: 1463, dtype: object>

In [27]:
mons = mons.replace({'호선' : '1호선'}, '1')
mons = mons.replace({'호선' : '2호선'}, '2')
mons = mons.replace({'호선' : '3호선'}, '3')
mons = mons.replace({'호선' : '4호선'}, '4')

In [28]:
mons

     호선   역명  사용월        비율
0     1  동대문    1  0.954919
1     1  동대문    2  0.882286
2     1  동대문    3  1.052501
3     1  동대문    4  1.032322
4     1  동대문    5  1.080913
...  ..  ...  ...       ...
1458  4   회현    8  0.949531
1459  4   회현    9  0.942649
1460  4   회현   10  1.049186
1461  4   회현   11  1.034597
1462  4   회현   12  1.058985

[1463 rows x 4 columns]

In [29]:
melt_13.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14760 entries, 0 to 14759
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   요일구분    14760 non-null  object
 1   호선      14760 non-null  int64
 2   역명      14760 non-null  object
 3   상하구분    14760 non-null  object
 4   시간대     14760 non-null  object
 5   값       14760 non-null  float64
dtypes: float64(1), int64(1), object(4)
memory usage: 692.0+ KB

- 월 혼잡도 구하기

In [30]:
melt_13['호선'] = melt_13['호선'].astype(str)
merged_df = melt_13.merge(mons, on=['호선', '역명'], how='inner')
merged_df

       요일구분 호선   역명 상하구분      시간대     값  사용월        비율
0        평일  1  서울역   상선  05시~06시  10.0    1  1.002597
1        평일  1  서울역   상선  05시~06시  10.0    2  0.919665
2        평일  1  서울역   상선  05시~06시  10.0    3  1.014560
3        평일  1  서울역   상선  05시~06시  10.0    4  0.990673
4        평일  1  서울역   상선  05시~06시  10.0    5  1.034015
...     ... ..  ...  ...      ...   ...  ...       ...
176995  일요일  4  남태령   하선  24시~01시  14.0    8  1.193308
176996  일요일  4  남태령   하선  24시~01시  14.0    9  1.096531
176997  일요일  4  남태령   하선  24시~01시  14.0   10  0.997312
176998  일요일  4  남태령   하선  24시~01시  14.0   11  1.014522
176999  일요일  4  남태령   하선  24시~01시  14.0   12  0.987340

[177000 rows x 8 columns]

In [31]:
merged_df['월혼잡도'] = merged_df['값'] * merged_df['비율']
merged_df

       요일구분 호선   역명 상하구분      시간대     값  사용월        비율       월혼잡도
0        평일  1  서울역   상선  05시~06시  10.0    1  1.002597  10.025967
1        평일  1  서울역   상선  05시~06시  10.0    2  0.919665   9.196647
2        평일  1  서울역   상선  05시~06시  10.0    3  1.014560  10.145602
3        평일  1  서울역   상선  05시~06시  10.0    4  0.990673   9.906731
4        평일  1  서울역   상선  05시~06시  10.0    5  1.034015  10.340150
...     ... ..  ...  ...      ...   ...  ...       ...        ...
176995  일요일  4  남태령   하선  24시~01시  14.0    8  1.193308  16.706309
176996  일요일  4  남태령   하선  24시~01시  14.0    9  1.096531  15.351438
176997  일요일  4  남태령   하선  24시~01시  14.0   10  0.997312  13.962369
176998  일요일  4  남태령   하선  24시~01시  14.0   11  1.014522  14.203314
176999  일요일  4  남태령   하선  24시~01시  14.0   12  0.987340  13.822761

[177000 rows x 9 columns]

In [32]:
merged_df.역명.value_counts()

서울역      2880
교대       2880
종로3가     2880
성수       2880
동대문      2880
         ...
서울대입구    1440
낙성대      1440
방배       1440
남태령      1440
가락시장     1320
Name: 역명, Length: 111, dtype: int64

- 요일별비율 불러오기

In [33]:
days.head()

   호선   역명 요일        비율
0   1  동대문  금  1.062001
1   1  동대문  목  1.021217
2   1  동대문  수  1.026826
3   1  동대문  월  1.005272
4   1  동대문  일  0.872540

In [34]:
days.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1930 entries, 0 to 1929
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   호선      1930 non-null   int64
 1   역명      1930 non-null   object
 2   요일      1930 non-null   object
 3   비율      1930 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 60.4+ KB

- 요일별비율 1~4호선만 필터링

In [35]:
days.rename(columns={'요일': '요일구분'}, inplace=True)
days = days[(days['호선'] == 1) | (days['호선'] == 2) | (days['호선'] == 3) | (days['호선'] == 4)]
days

     호선   역명 요일구분        비율
0     1  동대문    금  1.062001
1     1  동대문    목  1.021217
2     1  동대문    수  1.026826
3     1  동대문    월  1.005272
4     1  동대문    일  0.872540
..   ..  ...  ...       ...
841   4   회현    수  1.138710
842   4   회현    월  1.091179
843   4   회현    일  0.452969
844   4   회현    토  0.888500
845   4   회현    화  1.149981

[846 rows x 4 columns]

In [36]:
merged_df = merged_df.replace({'요일구분' : '일요일'}, '일')
merged_df = merged_df.replace({'요일구분' : '토요일'}, '토')
merged_df.요일구분.value_counts()

평일    59000
토     59000
일     59000
Name: 요일구분, dtype: int64

In [37]:
weekday = merged_df[merged_df['요일구분'] == '평일'].copy()
# weekday
weeks = ['월', '화', '수', '목', '금']
result_df = pd.concat([weekday.assign(요일구분=요일) for 요일 in weeks], ignore_index=True)
result_df

       요일구분 호선   역명 상하구분      시간대     값  사용월        비율       월혼잡도
0         월  1  서울역   상선  05시~06시  10.0    1  1.002597  10.025967
1         월  1  서울역   상선  05시~06시  10.0    2  0.919665   9.196647
2         월  1  서울역   상선  05시~06시  10.0    3  1.014560  10.145602
3         월  1  서울역   상선  05시~06시  10.0    4  0.990673   9.906731
4         월  1  서울역   상선  05시~06시  10.0    5  1.034015  10.340150
...     ... ..  ...  ...      ...   ...  ...       ...        ...
294995    금  4  남태령   하선  24시~01시  20.0    8  1.193308  23.866156
294996    금  4  남태령   하선  24시~01시  20.0    9  1.096531  21.930625
294997    금  4  남태령   하선  24시~01시  20.0   10  0.997312  19.946241
294998    금  4  남태령   하선  24시~01시  20.0   11  1.014522  20.290449
294999    금  4  남태령   하선  24시~01시  20.0   12  0.987340  19.746801

[295000 rows x 9 columns]

In [38]:
result_df.역명.value_counts()

서울역      4800
교대       4800
종로3가     4800
성수       4800
동대문      4800
         ...
서울대입구    2400
낙성대      2400
방배       2400
남태령      2400
가락시장     2200
Name: 역명, Length: 111, dtype: int64

In [39]:
fin = pd.concat([result_df, merged_df[merged_df['요일구분'].isin(['토', '일'])]], ignore_index=True)
fin.요일구분.value_counts()

월    59000
화    59000
수    59000
목    59000
금    59000
토    59000
일    59000
Name: 요일구분, dtype: int64

In [40]:
fin['호선'] = fin['호선'].astype(int)
merged_fin = fin.merge(days, on=['호선', '역명', '요일구분'], how='inner')
merged_fin

       요일구분  호선   역명 상하구분      시간대     값  사용월      비율_x       월혼잡도      비율_y
0         월   1  서울역   상선  05시~06시  10.0    1  1.002597  10.025967  1.055235
1         월   1  서울역   상선  05시~06시  10.0    2  0.919665   9.196647  1.055235
2         월   1  서울역   상선  05시~06시  10.0    3  1.014560  10.145602  1.055235
3         월   1  서울역   상선  05시~06시  10.0    4  0.990673   9.906731  1.055235
4         월   1  서울역   상선  05시~06시  10.0    5  1.034015  10.340150  1.055235
...     ...  ..  ...  ...      ...   ...  ...       ...        ...       ...
412555    일   4  남태령   하선  24시~01시  14.0    8  1.193308  16.706309  0.627791
412556    일   4  남태령   하선  24시~01시  14.0    9  1.096531  15.351438  0.627791
412557    일   4  남태령   하선  24시~01시  14.0   10  0.997312  13.962369  0.627791
412558    일   4  남태령   하선  24시~01시  14.0   11  1.014522  14.203314  0.627791
412559    일   4  남태령   하선  24시~01시  14.0   12  0.987340  13.822761  0.627791

[412560 rows x 10 columns]

In [41]:
merged_fin.역명.value_counts()

서울역      6720
교대       6720
종로3가     6720
성수       6720
동대문      6720
         ...
서울대입구    3360
낙성대      3360
방배       3360
남태령      3360
가락시장     2640
Name: 역명, Length: 111, dtype: int64

- 최종혼잡도 구하기

In [42]:
merged_fin['최종혼잡도'] = merged_fin['월혼잡도'] * merged_fin['비율_y']
merged_fin

,요일구분,호선,역명,상하구분,시간대,값,사용월,비율_x,월혼잡도,비율_y,최종혼잡도
0,월,1,서울역,상선,05시~06시,10.0,1,1.002597,10.025967,1.055235,10.579748
1,월,1,서울역,상선,05시~06시,10.0,2,0.919665,9.196647,1.055235,9.704621
2,월,1,서울역,상선,05시~06시,10.0,3,1.014560,10.145602,1.055235,10.705991
3,월,1,서울역,상선,05시~06시,10.0,4,0.990673,9.906731,1.055235,10.453926
4,월,1,서울역,상선,05시~06시,10.0,5,1.034015,10.340150,1.055235,10.911285
...,...,...,...,...,...,...,...,...,...,...,...
412555,일,4,남태령,하선,24시~01시,14.0,8,1.193308,16.706309,0.627791,10.488076
412556,일,4,남태령,하선,24시~01시,14.0,9,1.096531,15.351438,0.627791,9.637499
412557,일,4,남태령,하선,24시~01시,14.0,10,0.997312,13.962369,0.627791,8.765454
412558,일,4,남태령,하선,24시~01시,14.0,11,1.014522,14.203314,0.627791,8.916717
412559,일,4,남태령,하선,24시~01시,14.0,12,0.987340,13.822761,0.627791,8.677809

### 연도 열 추가하기

In [43]:
merged_fin['연도'] = 2013

In [44]:
merged_fin.head()

,요일구분,호선,역명,상하구분,시간대,값,사용월,비율_x,월혼잡도,비율_y,최종혼잡도,연도
0,월,1,서울역,상선,05시~06시,10.0,1,1.002597,10.025967,1.055235,10.579748,2013
1,월,1,서울역,상선,05시~06시,10.0,2,0.919665,9.196647,1.055235,9.704621,2013
2,월,1,서울역,상선,05시~06시,10.0,3,1.014560,10.145602,1.055235,10.705991,2013
3,월,1,서울역,상선,05시~06시,10.0,4,0.990673,9.906731,1.055235,10.453926,2013
4,월,1,서울역,상선,05시~06시,10.0,5,1.034015,10.340150,1.055235,10.911285,2013

In [45]:
merged_fin.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 412560 entries, 0 to 412559
Data columns (total 12 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   요일구분    412560 non-null  object
 1   호선      412560 non-null  int64
 2   역명      412560 non-null  object
 3   상하구분    412560 non-null  object
 4   시간대     412560 non-null  object
 5   값       412560 non-null  float64
 6   사용월     412560 non-null  int64
 7   비율_x    412560 non-null  float64
 8   월혼잡도    412560 non-null  float64
 9   비율_y    412560 non-null  float64
 10  최종혼잡도   412560 non-null  float64
 11  연도      412560 non-null  int64
dtypes: float64(5), int64(3), object(4)
memory usage: 40.9+ MB

In [46]:
merged_fin.to_csv("df_13_merged_fin(230915).csv", index=False)